/* ROOM  CIRCLES

#B101 {
    top: 90px;
    right: 230px;
  }
  
  #B102 {
    top: 90px;
    right: 295px;
  }
  
  #B103 {
    top: 140px;
    right: 295px;
  }
  
  #B104 {
    top: 190px;
    right: 295px;
  }
  
  #B105 {
    top: 240px;
    right: 295px;
  }
  
  #B106 {
    top: 330px;
    right: 295px;
  }
  
  #B107 {
    top: 290px;
    right: 250px;
  }
  
  #B124 {
    top: 450px;
    right: 340px;
  }
  
  #B123 {
    top: 450px;
    right: 400px;
  }
  
  #B117 {
    top: 500px;
    right: 280px;
  }
  
  #B119 {
    top: 580px;
    right: 260px;
  }
  
  #C101 {
    top: 160px;
    right: 460px;
  }
  
  #C102 {
    top: 160px;
    right: 525px;
  }
  
  #C103 {
    top: 220px;
    right: 525px;
  }
  
  #C104 {
    top: 280px;
    right: 525px;
  }
  #C106 {
    top: 340px;
    right: 525px;
  }
  
  #C105 {
    top: 340px;
    right: 460px;
  }
  
  #C120 {
    top: 240px;
    right: 620px;
  }
  
  /* Block A */
  #A101 {
    top: 50px;
    right: 50px;
  }
  
  #A110 {
    top: 250px;
    right: 50px;
  }
  
  #A117 {
    top: 510px;
    right: 70px;
  }
  
  #A116 {
    top: 510px;
    right: 20px;
  }
  
  #D102 {
    top: 160px;
    right: 780px;
  }
  
  #D105 {
    top: 200px;
    right: 780px;
  }
  
  #D111 {
    top: 300px;
    right: 780px;
  }
  
  #D121 {
    top: 590px;
    right: 740px;
  } */
  